* {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans;
  text-align: center;
}

body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin: 0 auto;
}

img { 
  border-radius: 30px;
}

header {
  margin-top: 4rem;
  & p {
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 2rem;

    & span {
      color: hotpink;
      font-weight: bold;
    }
  }
  & h1 {
    color: hotpink;
    font-size: 3rem;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  & .recipes-btn {
    color: hotpink;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: #2E5A18;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 2rem auto;
  }
  & .recipes-btn:hover {
    background-color: hotpink;
    color: white;
  }
}

/* nav styles */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/thai-sauce.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 10px 16px;
  color: white;
  overflow: hidden;
}

.logo img {
  width: 80px;
  height: auto;
  margin-top: 1rem;
}

.nav-links a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  display: inline-block;
  transition: background-color 0.3s ease, border-radius 0.3s ease;

}

.nav-links a:hover {
  background-color: #2E5A18;
  border-radius: 50px;
}

.nav-links a.active {
  background-color: hotpink;
  color: white;
  border-radius: 50px;
}

.icon {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 5rem;  
  margin-right: 1rem;
}

  

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-bottom: 10%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


footer {
  
  width: 100%;
  padding: 1rem; 
  color: hotpink;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 15rem;
}

footer p {
  margin-top: 1rem;
  
}

footer a {
  color: hotpink;
  font-weight: bold;
  background-color: #2E5A18;
  padding: 0.5rem;
  border-radius: 50px;
  text-decoration: none;
}

footer a:hover {
  color: plum;
}


/* Hide links by default on small screens */
@media screen and (max-width: 786px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    
  }

  .topnav.responsive .nav-links {
    display: flex;
    position: relative;
    top: 10px;
    left: 0;
  }

  .icon {
    display: block;
    cursor: pointer;
    font-size: 5rem;
    
  }
  


  header h1 {
    font-size: 2.5rem;
  }

  body {
    margin: 0 auto;
  }
  footer {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .logo img {
    width: 60px;
  }

  .icon {
    font-size: 4rem;
    margin-right: 1rem;
  }

  .recipes-btn {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header p {
    font-size: 1.2rem;
    width: 90%;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 350px) {
  .logo img {
    width: 50px;
  }

  .icon {
    font-size: 3rem;
    margin-right: 1rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header .recipes-btn {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }
}

